*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#banner{
  width: 100%;
  margin: 0 auto;
}

#banner-img{
  width: 100%;
  margin: 0 auto;
}     */

#navbar ul{
  display: inline-block;
}
