@font-face{
  font-family: zrinc;
  src: url("../zayisnerd.github.io/fonts/zrnic.ttf ") format('truetype');
}

#splash-screen{
  margin: 0;
  height: 50%;
}

#banner-img{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
