@font-face{
  font-family: zrinc;
  src: url("../zayisnerd.github.io/fonts/zrnic.ttf ") format('truetype');
}
/*
header{
  margin: 0;
  height: 50%;
}

.banner{
  background-iamge: url(../zayisnerd.github.io/images/zayisnerd-banner.png);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
